/* Style the tab */

h1{
  font-size: 35px;
  text-align: center;
}
h2{
   font-size: 15 px;
    text-align: center;
}
header{
  background: rgba(0, 128, 0, 0.3);
  padding: 20px;
}

/*Reference: https://www.w3schools.com/howto/howto_js_accordion.asp*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; 
}
.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
body {
  background-color:#ecf9ec;
}
/* Reference : https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_basic*/

button {
  background-color: #b3e6b3; /* Green */
  border: none;
  color: #595959;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
